Pillow==8.3.2
PyYAML==3.11
Pygments==2.1.3
SimpleCV==1.3
altgraph==0.10.2
audioread==2.1.3
bdist-mpkg==0.5.0
beautifulsoup4==4.3.2
bonjour-py==0.3
cssselect==0.9.1
feedfinder2==0.0.1
feedparser==5.1.3
ipython==0.14.dev
jieba==0.35
librosa==0.4.3
lxml==3.3.5
macholib==1.5.1
matplotlib==1.3.x
modulegraph==0.10.4
newspaper==0.0.9.8
nltk==2.0.5
nose==1.2.1
numpy==1.8.0rc1
## FIXME: could not find svn URL in dependency_links for this package:
pandas==0.9.0.dev-1e68fd9-20120920
patsy==0.1.0
pika==0.9.5
py==1.4.31
py2app==0.7.3
pyOpenSSL==0.13.1
pymc==2.2
pyparsing==2.0.1
pytest==2.9.0
python-dateutil==1.5
pyttsx==1.1
pytz==2013.7
pyzmq==2.2.0.1
readline==6.2.4.1
requests==2.10.0
scikit-learn==0.13-git
scipy==0.13.0b1
six==1.4.1
statsmodels==0.5.0
tldextract==1.5.1
virtualenv==15.0.1
wsgiref==0.1.2
xattr==0.6.4
zope.interface==4.1.1
